<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    <ion-item href="pages/dentist/appointments">
      <ion-label>Citas</ion-label>
      <ion-icon class="icon" aria-hidden="true" name="today"></ion-icon>
    </ion-item>

    <ion-item href="pages/dentist/account">
      <ion-label>Cuenta</ion-label>
      <ion-icon class="icon" aria-hidden="true" name="person"></ion-icon>
    </ion-item>
    
    <ion-item (click)="logout()" href="">
      <ion-label>Cerrar Sesión</ion-label>
      <ion-icon class="icon" aria-hidden="true" name="exit"></ion-icon>
    </ion-item>

  </ion-content>

</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title>ERP Dental Care</ion-title>
  </ion-toolbar>
</ion-header>