<div class="ion-page">

  <app-vertical-menu-patient></app-vertical-menu-patient>

  <ion-content id="main-content">
    <div style="margin: 6% 2% 0 2%;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Citas</ion-card-title>
          <ion-card-subtitle>
            <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngIf="data">

            <ion-card *ngFor="let item of data">
              <ion-card-content>
                <ion-item-group>
                  <ion-item>
                    <ion-label>
                      <h1>{{formatDateToLetter(item.start_date)}}</h1>
                      <p>Dentista: {{item.dentist.person.name + " "+ item.dentist.person.surname + " " + item.dentist.person.lastname}}</p>
                      <p>Paciente: {{item.patient.person.name + " "+ item.patient.person.surname + " " + item.patient.person.lastname}}</p>
                    </ion-label>
                  </ion-item>
                </ion-item-group>
                <ion-item-group>
                  <ion-button (click)="openDetails(item.id)" color="secondary">
                    Detalles <ion-icon aria-hidden="true" name="eye" slot="end"></ion-icon>
                  </ion-button>
                </ion-item-group>

              </ion-card-content>
            </ion-card>



          </ion-list>
          <ion-list *ngIf="data.length===0">
            <ion-list-header>
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </ion-list-header>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </div>



    <!-- Start Details Cita -->
    <ion-modal [isOpen]="modalDetails" (willDismiss)="onWillDismiss()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Detalles</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalDetails=false"><ion-icon name="close"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          <ion-card *ngIf="appointment!==null">
            <ion-card-header>
              <ion-card-title>Inicio: {{formatDateToLetter(appointment.start_date)}}</ion-card-title>
              <ion-card-subtitle>Fin: {{formatDateToLetter(appointment.end_date)}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Dentista: {{appointment.dentist.person.name + " " +
              appointment.dentist.person.surname + " " +
              appointment.dentist.person.lastname}} <br>
              Paciente: {{appointment.patient.person.name + " " +
              appointment.patient.person.surname + " " +
              appointment.patient.person.lastname}} <br>
            </ion-card-content>
          </ion-card>

        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- End Details Cita -->



    <!-- Start Delete Cita -->
    <!-- <ion-modal [isOpen]="modalDelete" (willDismiss)="onWillDismiss()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Eliminar Cita</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalDelete=false"><ion-icon name="close"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          <ion-list>
            <ion-item>
              <h3>¿Estás seguro de cancelar esta cita?</h3>
            </ion-item>
          </ion-list>

          <div style="margin: 45% 20px 0 20px">
            <ion-button expand="block" color="danger" (click)="modalDelete=false"><ion-icon aria-hidden="true"
                name="close"></ion-icon>Cancelar</ion-button>
            <ion-button expand="block" (click)="deleteAppointment()"><ion-icon aria-hidden="true"
                name="checkmark"></ion-icon> Aceptar</ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal> -->
    <!-- End Delete Cita -->


    <ion-img class="water-mark" src="../assets/logo-no-background.png" alt="AzTech"></ion-img>

  </ion-content>


</div>