<ion-content>
  <div style="margin: 5% 20% 0 20%;">
    <ion-img class="logo" src="../assets/logo-no-background.png" alt="AzTech"></ion-img>
    <br>
    <form (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm">

      <ion-input [(ngModel)]="login.email" formControlName="email" type="email" label="Email"
        labelPlacement="floating"></ion-input>

      <ion-input [(ngModel)]="login.password" formControlName="password" label="Password" labelPlacement="floating"
        type="password"></ion-input>
      <br>
      <ion-button expand="block" color="dark" type="submit" [disabled]="!loginForm.valid">
        Iniciar Sesión
      </ion-button>
    </form>

  </div>

  <ion-img class="water-mark" src="../assets/logo-no-background.png" alt="AzTech"></ion-img>

</ion-content>