<div class="ion-page">

  <app-vertical-menu-patient></app-vertical-menu-patient>

  <ion-content id="main-content">
    <div style="margin: 6% 2% 0 2%;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Servicios</ion-card-title>
          <!-- <ion-card-subtitle>
            <ion-searchbar *ngIf="data.length!==0" animated="true" placeholder="Buscar" (ionInput)="search($event)"></ion-searchbar>
          </ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngIf="data">

            <ion-card *ngFor="let item of data">
              <ion-card-content>
                <ion-item-group>
                  <ion-item>
                    <ion-label>
                      <h1>Cita: {{formatDateToLetter(item.appointment.start_date)}}</h1>
                      <p>Creado: {{formatDateToLetter(item.created_at)}}</p>
                      <p>Total:$ {{item.total}}</p>
                    </ion-label>
                  </ion-item>
                </ion-item-group>
                <ion-item-group>
                  <ion-button (click)="openDetails(item.id)" color="secondary">
                    Detalles <ion-icon aria-hidden="true" name="eye" slot="end"></ion-icon>
                  </ion-button>
                </ion-item-group>

              </ion-card-content>
            </ion-card>



          </ion-list>
          <ion-list *ngIf="data.length===0">
            <ion-list-header>
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </ion-list-header>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </div>


    <!-- Start Details Service -->
    <ion-modal [isOpen]="modalDetails" (willDismiss)="onWillDismiss()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Detalles</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalDetails=false"><ion-icon name="close"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          <ion-card *ngIf="service!==undefined">

            <ion-card-header>
              <ion-card-title>{{service.name}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <h1>Cita: {{formatDateToLetter(service.appointment.start_date)}}</h1>
              <p>Creado: {{formatDateToLetter(service.created_at)}}</p>
              <p>Subtotal:$ {{service.subtotal}}</p>
              <p>I.V.A:$ {{service.vat}}</p>
              <p>Total:$ {{service.total}}</p>
              <br>
                      <h3>Servicios:</h3>
                      <ion-list>
                        <ion-item *ngFor="let item of service.services">
                          <ion-card style="width: 100%;">
                            <ion-card-header>
                              <ion-card-title>{{item.service.name}}</ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                              Precio: {{item.price}}<br>
                              Cantidad: {{item.quantity}}<br>
                              SubTotal: {{item.subtotal}}<br>
                              I.V.A: {{item.vat}}<br>
                              Total: {{item.total}}<br>
                            </ion-card-content>
                          </ion-card>
                        </ion-item>
                      </ion-list>
                      <br>
                      <h3>Insumos:</h3>
                      <ion-list>
                        <ion-item *ngFor="let supply of service.supplies">
                          <ion-card style="width: 100%;">
                            <ion-card-header>
                              <ion-card-title>{{supply.supply.name}}</ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                              Precio: {{supply.price}}<br>
                              Cantidad: {{supply.quantity}}<br>
                              SubTotal: {{supply.subtotal}}<br>
                              I.V.A: {{supply.vat}}<br>
                              Total: {{supply.total}}<br>
                            </ion-card-content>
                          </ion-card>
                        </ion-item>
                      </ion-list>
            </ion-card-content>
          </ion-card>

        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- End Details Add Service -->


    <ion-loading [isOpen]="loading" spinner="circles"></ion-loading>
  <ion-img class="water-mark" src="../assets/logo-no-background.png" alt="AzTech"></ion-img>

  </ion-content>


</div>