<div class="ion-page">

  <app-vertical-menu-dentist></app-vertical-menu-dentist>

  <ion-content id="main-content">
    <div style="margin: 6% 2% 0 2%;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Citas</ion-card-title>
          <ion-card-subtitle>
            <ion-searchbar *ngIf="data.length!==0" animated="true" placeholder="Buscar" (ionInput)="search($event)"></ion-searchbar>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngIf="results">

            <ion-card *ngFor="let item of results">
              <ion-card-content *ngIf="item.status==='AGENDADA'">
                <ion-item-group>
                  <ion-item>
                    <ion-label class="ion-text-capitalize">
                      <h1>{{formatDateToLetter(item.start_date)}}</h1>
                      <p>Paciente: {{item.patient.person.name + " "+ item.patient.person.surname + " " +
                        item.patient.person.lastname}}</p>
                      <p>Termina: {{formatDateToLetter(item.end_date)}}</p>
                    </ion-label>
                  </ion-item>
                </ion-item-group>
                <ion-item-group>
                  <ion-item>
                    <ion-button *ngIf="item.status==='AGENDADA'" (click)="openFinish(item.id)" color="success">
                      <ion-icon aria-hidden="true" name="checkmark-done"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-item-group>
              </ion-card-content>
            </ion-card>



          </ion-list>
          <ion-list *ngIf="data.length===0">
            <ion-list-header>
              <h1>No hay citas próximas</h1>
            </ion-list-header>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </div>



    <!-- Start Details Cita -->
    <ion-modal [isOpen]="modalDetails" (willDismiss)="onWillDismiss()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Detalles</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalDetails=false"><ion-icon name="close"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          <ion-card *ngIf="appointment!==null">
            <ion-card-header>
              <ion-card-title>Inicio: {{formatDateToLetter(appointment.start_date)}}</ion-card-title>
              <ion-card-subtitle>Fin: {{formatDateToLetter(appointment.end_date)}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Dentista: {{appointment.dentist.person.name + " " +
              appointment.dentist.person.surname + " " +
              appointment.dentist.person.lastname}} <br>
              Paciente: {{appointment.patient.person.name + " " +
              appointment.patient.person.surname + " " +
              appointment.patient.person.lastname}} <br>
            </ion-card-content>
          </ion-card>

        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- End Details Cita -->



    <!-- Start Delete Cita -->
    <!-- <ion-modal [isOpen]="modalDelete" (willDismiss)="onWillDismiss()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Eliminar Cita</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalDelete=false"><ion-icon name="close"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          <ion-list>
            <ion-item>
              <h3>¿Estás seguro de cancelar esta cita?</h3>
            </ion-item>
          </ion-list>

          <div style="margin: 45% 20px 0 20px">
            <ion-button expand="block" color="danger" (click)="modalDelete=false"><ion-icon aria-hidden="true"
                name="close"></ion-icon>Cancelar</ion-button>
            <ion-button expand="block" (click)="deleteAppointment()"><ion-icon aria-hidden="true"
                name="checkmark"></ion-icon> Aceptar</ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal> -->
    <!-- End Delete Cita -->

    <!-- Start Finish Cita -->
    <ion-modal [isOpen]="modalFinish" (willDismiss)="onWillDismiss()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Finalizar Cita</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalFinish=false"><ion-icon name="close"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          <ion-list>
            <ion-list class="ion-margin">

              <ion-item>
                <ion-select aria-label="Agregar Servicio" placeholder="Agregar Servicio"
                  (ionChange)="handleChangeServices($event)">
                  <div *ngFor="let item of services">
                    <ion-select-option *ngIf="serviceExists(item.id)"
                      [value]="item.id">{{item.name}}</ion-select-option>
                  </div>
                </ion-select>
              </ion-item>
              <br>
              <label *ngIf="servicesAdded.length">Servicios</label>
              <ion-item *ngFor="let item of servicesAdded">
                <ion-input [id]="item.service_id" [label]="services[findIndexByIdServices(item.service_id)].name"
                  type="number" (ionChange)="addQuantityServices($event, item.service_id)"
                  [value]="item.quantity"></ion-input>
                <ion-button style="margin-left: 10px;" (click)="removeSupply(item.id)" color="danger"><ion-icon
                    aria-hidden="true" name="trash"></ion-icon>
                </ion-button>
              </ion-item>

              <ion-item>
                <ion-select aria-label="Agregar Insumo" placeholder="Agregar Insumo"
                  (ionChange)="handleChangeSupplies($event)">
                  <div *ngFor="let item of supplies">
                    <ion-select-option *ngIf="supplyExists(item.id)" [value]="item.id">{{item.name}}</ion-select-option>
                  </div>
                </ion-select>
              </ion-item>
              <br>
              <label *ngIf="suppliesAdded.length">Insumos</label>
              <ion-item *ngFor="let item of suppliesAdded">
                <ion-input [id]="item.supply_id" [label]="supplies[findIndexByIdSupplies(item.supply_id)].name"
                  type="number" (ionChange)="addQuantitySupplies($event, item.supply_id)"
                  [value]="item.quantity"></ion-input>
                <ion-button style="margin-left: 10px;" (click)="removeSupply(item.id)" color="danger"><ion-icon
                    aria-hidden="true" name="trash"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

            <ion-button style="margin: 10px 20px 0px 20px;" expand="block" (click)="finishAppointment()">
              Guardar <ion-icon slot="end" name="save"></ion-icon>
            </ion-button>
          </ion-list>

        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- End Finish Cita -->

    <ion-loading [isOpen]="loading" spinner="circles"></ion-loading>
  <ion-img class="water-mark" src="../assets/logo-no-background.png" alt="AzTech"></ion-img>

  </ion-content>


</div>