<div class="ion-page">

  <app-vertical-menu-patient></app-vertical-menu-patient>

  <ion-content id="main-content">
    <div style="margin: 6% 2% 0 2%;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Próxima Cita</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngIf="data">
            <ion-item>
              <h1 class="ion-text-capitalize">{{formatDateToLetter(data.start_date)}}</h1>
            </ion-item>
            <ion-item>
              <h4 class="ion-text-capitalize">Dentista: {{data.dentist.person.name + " " +
                data.dentist.person.surname + " " +
                data.dentist.person.lastname}}</h4>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="data===null">
            <ion-list-header>
              <h1>No hay citas próximas</h1>
            </ion-list-header>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </div>

    <!-- <ion-fab (click)="openAdd()" style="margin-right: 1vw;" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->




    <ion-loading [isOpen]="loading" spinner="circles"></ion-loading>
  <ion-img class="water-mark" src="../assets/logo-no-background.png" alt="AzTech"></ion-img>

  </ion-content>


</div>